<form class="formAsignar" name="form" [formGroup]="asignacionForm">
  <div>
    <h2 style="color: white; text-align: center">Asignaciones</h2>
    <hr color="white" style="width: 50%" />
  </div>
  <div class="inputForm">
    <label for="selectedTipo">EMPLEADO:</label>
    <div class="inputForm">
      <select formControlName="id_empleado" >
        <option *ngFor="let item of empleadosService.empleadosLista" [value]="item.ID">{{item.nombre}}</option>
      </select>

    </div>
  </div>
  <div class="inputForm">
    <label for="selectedTipo">EQUIPO:</label>
    <select formControlName="id_equipo">
      <option *ngFor="let item of equiposService.equiposLista" [value]="item.ID">{{item.equipo_serial}}</option>
    </select>
  </div>

  <div class="inputForm" style="margin-top: 3em">
    <button id="btnFinalizar" (click)="asignar()" [disabled]="!asignacionForm.valid">
      {{ btnAsignar }}
    </button>
  </div>
</form>

