<form class="formAsignar" name="form">
  <div>
    <h2 style="color: white; text-align: center">Asignar equipo</h2>
    <hr color="white" style="width: 50%" />
  </div>
  <div class="inputForm">
    <label for="selectedTipo">TIPO EQUIPO:</label>
    <select
      name=""
      id="selectedTipo"
      class="selectForm"
      style="width: 50%"
      ng-init="asignacion.selected_tipo"
      ng-model="asignacion.selected_tipo"
      required
    >
      <option value="1">LAPTOP</option>
      <option value="2">DESKTOP</option>
    </select>
  </div>
  <div class="inputForm">
    <label for="serialNumber">SERIAL:</label>
    <input
      type="text"
      id="serialNumber"
      ng-model="asignacion.serial"
      required
    />
  </div>
  <!-- {{asignacion.serial}} -->
  <div class="accesoriesCheckbox">
    <div>
      <label style="color: white" for="">CARGADOR </label>
      <input
        type="checkbox"
        ng-model="asignacion.cargador"
        ng-true-value="'1'"
        ng-false-value="'0'"
      />
    </div>
    <div>
      <label style="color: white" for="">TECLADO </label>
      <input
        type="checkbox"
        ng-model="asignacion.teclado"
        ng-true-value="'1'"
        ng-false-value="'0'"
      />
    </div>
    <div>
      <label style="color: white" for="">MOUSE </label>
      <input
        type="checkbox"
        ng-model="asignacion.mouse "
        ng-true-value="'1'"
        ng-false-value="'0'"
      />
    </div>
    <div>
      <label style="color: white" for="">BASE </label>
      <input
        type="checkbox"
        ng-model="asignacion.base"
        ng-true-value="'1'"
        ng-false-value="'0'"
      />
    </div>
    <div>
      <label style="color: white" for="">PANTALLA </label>
      <input
        type="checkbox"
        ng-model="asignacion.pantalla"
        ng-true-value="'1'"
        ng-false-value="'0'"
      />
    </div>
  </div>
  <div class="inputForm">
    <label for="licenciaSO">VERSION SO:</label>
    <input
      type="text"
      id="licenciaSO"
      ng-model="asignacion.version_so"
      required
    />
  </div>
  <div class="inputForm">
    <label for="licenciaOFFICE">VERSION OFFICE:</label>
    <input
      type="text"
      id="licenciaOFFICE"
      ng-model="asignacion.version_office"
    />
  </div>
  <div class="inputForm">
    <label for="antivirus">ANTIVIRUS:</label>
    <input
      type="text"
      id="antivirus"
      ng-model="asignacion.antivirus"
      required
    />
  </div>
  <div class="inputForm">
    <label for="productKeySO">PRODUCT KEY SO:</label>
    <input
      type="text"
      id="productKeySO"
      ng-model="asignacion.productkey_so"
      required
    />
  </div>
  <div class="inputForm">
    <label for="productKeyOFFICE">PRODUCT KEY OFFICE:</label>
    <input
      type="text"
      id="productKeyOFFICE"
      ng-model="asignacion.productKey_office"
      required
    />
  </div>
  <div class="inputForm">
    <label for="serialNumber">EMPLEADO:</label>
    <input
      type="text"
      id="serialNumber"
      ng-model="asignacion.empleado"
      required
    />
  </div>

  <div>
    <h2 style="color: white; text-align: center">CARACTERISTICAS</h2>
    <hr color="white" style="width: 50%" />
  </div>
  <div style="display: flex; column-gap: 2em">
    <div style="width: 50%" class="inputForm">
      <label for="tipo_equipo">RAM ( GB ):</label>
      <input
        type="text"
        id="productKeyOFFICE"
        ng-model="asignacion.ram"
        required
      />
    </div>
    <div style="width: 50%" class="inputForm">
      <label for="tipo_equipo">CPU :</label>
      <input
        type="text"
        id="productKeyOFFICE"
        ng-model="asignacion.cpu"
        required
      />
    </div>
  </div>
  <div style="display: flex; column-gap: 2em">
    <div style="width: 50%" class="inputForm">
      <label for="tipo_equipo">DISCO ( GB ):</label>
      <input
        type="text"
        id="productKeyOFFICE"
        ng-model="asignacion.disco"
        required
      />
    </div>
    <div style="width: 50%" class="inputForm">
      <label for="tipo_equipo">GRAFICO:</label>
      <input
        type="text"
        id="productKeyOFFICE"
        ng-model="asignacion.grafico"
        required
      />
    </div>
  </div>

  <div class="inputForm" style="margin-top: 3em">
    <button id="btnFinalizar" ng-disabled="form.$invalid" ng-click="asignar()">
      {{ btnText }}
    </button>
  </div>
</form>
