<div class="tableContainer">
  <h1>Empleados</h1>
  <hr color="white" />
  <table>
    <tr>
      <th>Ingreso</th>
      <th>Nombre de Empleado</th>
      <th>Cédula</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Area</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    <tr ng-repeat="item in inventario">
      <!--     <td>{{item.date_save | date}}</td>
      <td>{{item.serial}}</td>
      <td>{{item.empleado}}</td> -->
      <td>1</td>
      <td>Sara Mejia</td>
      <td>101010102</td>
      <td>sara@coreo.com</td>
      <td>321312321</td>
      <td>TI</td>
      <td>
        <!--   ng-href="/inventarios/#!asignar_form/{{item.ID}}" -->
        <a> <i class="fa fa-pencil-square" style="font-size: 25px"></i></a>
      </td>
      <td>
        <i
          class="fa fa-times-rectangle"
          style="font-size: 25px; cursor: pointer; color: red"
          ng-click="eliminar(item.ID)"
        ></i>
      </td>
    </tr>
  </table>
</div>
<!--  ng-click="eliminar(item.ID)" -->
