<div class="tableContainer">
  <h1>Empleados</h1>
  <hr color="white" />
  <table>
    <tr>
      <th>Ingreso</th>
      <th>Empleado</th>
      <th>Cédula</th>
      <th>Correo</th>
      <th>Celular</th>
      <th>Area</th>
      <th>Fecha Registro</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let empleados of empleadosService.empleadosLista">
      <td>{{ empleados.ID }}</td>
      <td>{{ empleados.nombre }}</td>
      <td>{{ empleados.cedula }}</td>
      <td>{{ empleados.email }}</td>
      <td>{{ empleados.telefono }}</td>
      <td>{{ empleados.area }}</td>
      <td>{{ empleados.fecha_creacion | date }}</td>
      <td>
        <a>
          <i
            [routerLink]="['/app/modules/empleados/add', empleados.ID]"
            class="fa fa-pencil-square"
            style="font-size: 25px; padding-right: 2px; cursor: pointer"
          ></i
        ></a>
        <i
          class="fa fa-times-rectangle"
          (click)="empleadosService.deleteEmpleados(empleados.ID)"
          style="font-size: 25px; cursor: pointer; color: red"
        ></i>
      </td>
    </tr>
  </table>
</div>
<!--  ng-click="eliminar(item.ID)" -->
