<form class="formAsignar">
    <div class="formAsignar" style="background-color: #31b189; text-align: center;height: 100%;padding: 0 10% 0 10%;">
        <!------->
        <div id="logo" style="text-align: center; padding: 15px;">
            <img src="./logo1.PNG" width="200px" alt="" srcset="" />
        </div>
        <!------->
        <div style="text-align: center;">
            <h2 style="color: white; text-align: center">BIENVENIDO</h2>
            <hr color="white" style="width: 50%" />
        </div>
        <!------->
        <div id="profile" style="text-align: center; padding: 15px;">
            <img src="./profile.png" style="height: 10%; width: 10%;" alt="" srcset="" />
        </div>
        <!------->
        <div style="height: 50%; background-color: #ffc872;">
            <div class="inputForm" >
                <label style="color:white" for="serialNumber">Nombre de usuario:</label>
                <input
                  type="text"
                  id="serialNumber"
                  ng-model="asignacion.serial"
                  required
                />
            </div>
             <!------->
            <div class="inputForm" >
                <label style="color:white" for="serialNumber">Clave:</label>
                <input
                type="password"
                id="serialNumber"
                ng-model="asignacion.serial"
                required
                />
            </div>
        </div>
       


    </div>
</form>