.formAsignar {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formAsignar > hr {
  margin-bottom: 1em;
}

.formAsignar > .inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formLogin {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.inputForm > label {
  color: white;
  font-weight: bold;
  font-size: large;
}

.inputForm > input {
  width: 200px;
  height: 2em;
  border: none;
  margin-left: 1em;
  color: black;
}
.inputForm span {
  color: red;
  font-size: small;
  font-weight: bolder;
}
.inputErrors {
  display: flex;
  flex-direction: column;
  align-items: end;
}
#btnFinalizar {
  border: none;
  background-color: #7ace67;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#btnFinalizar:hover {
  background: #5bc92f;
}
#btnFinalizar:disabled {
  background: #dddddd;
  cursor: default;
}

#btnIngresar {
  border: none;
  background-color: #012403;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#btnIngresar:hover {
  background: #482385;
}
#btnIngresar:disabled {
  background: #dddddd;
  cursor: default;
}

a:link,
a:visited {
  margin: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(153, 0, 0);
}


.formIngresar {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.formIngresar > hr {
  margin-bottom: 1em;
}

.inputForm{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

#formLogin {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.inputForm > label {
  color: white;
  font-weight: bold;
  font-size: large;
}


.inputForm > input {
  width: 200px;
  height: 2em;
  border: none;
  margin-left: 1em;
  color: black;
}
.inputForm span {
  color: red;
  font-size: small;
  font-weight: bolder;
}
.inputErrors {
  display: flex;
  flex-direction: column;
  align-items: end;
}


a:link,
a:visited {
  margin: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(153, 0, 0);
}
