<div id="navbar">
  <div id="logo">
    <img src="assets/logo1.PNG" width="200px" alt="" srcset="" />
  </div>

  <ul>
    <!--       <li><a href="/html/">Mi Perfil</a></li> -->
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Equipos</a>
      <div class="dropdown-content">
        <a routerLink="modules/equipos/add">Registrar Equipo</a>
        <a routerLink="modules/equipos/list">Equipos</a>
      </div>
    </li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Empleados</a>
      <div class="dropdown-content">
        <a routerLink="modules/empleados/add">Registrar Empleado</a>
        <a routerLink="modules/empleados/list">Empleados</a>
      </div>
    </li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Asignaciones</a>
      <div class="dropdown-content">
        <a routerLink="modules/asignaciones/add">Asignar</a>
        <a routerLink="modules/asignaciones/list">Asignaciones</a>
      </div>
    </li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Accesorios</a>
      <div class="dropdown-content">
        <a routerLink="modules/accesorios/add">Registrar Accesorio</a>
        <a routerLink="modules/accesorios/list">Accesorios</a>
      </div>
    </li>

    <li class="dropdown">
      <i
        class="fa fa-sign-out"
        (click)="authService.logout()"
        style="font-size: 25px; cursor: pointer; color: red"
      ></i>
    </li>
  </ul>
</div>
